---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Footer.astro';

const pathname = Astro.url.pathname;

const isFinescale = pathname.startsWith('/fine-scale');
---

<Default {...Astro.props} />
<hr />

<div class="legal-footer">
  <a href="/impressum/">Impressum</a>
  <a href="/datenschutzerklaerung/">Datenschutzerklärung</a>
</div>

{ isFinescale && (
  <div class="license-footer">
    Unless otherwise stated, the content on this site below <br/>
    <a href="/fine-scale/">fiNe-scale</a> is licensed by <a href="/">[dipe]</a> under<br/>
    <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a><br/>
    <img src="/cc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
    <img src="/by.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
    <img src="/sa.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;">
  </div>
)}

<div class="license-footer">
  Built with <a href="https://starlight.astro.build/" target="_blank">Astro/Starlight</a> 
    &amp; <a href="https://catppuccin.com/" target="_blank">Catppuccin</a> (MIT) and more. 
    See here for a full list: <a href="/3rd-party-licenses.txt" target="_blank">3rd-party-licenses.txt</a>.
</div>

<style>
  .license-footer {
    margin-top: 1rem;
    text-align: center;
    font-size: var(--sl-text-sm);
  }
  .license-footer a {
    color: var(--sl-color-gray-3);
  }
  .license-footer a:hover {
    color: var(--sl-color-text-accent);
  }
  .legal-footer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: var(--sl-text-sm);
  }
  .legal-footer a {
    color: var(--sl-color-gray-3);
/*    text-decoration: none; */
  }
  .legal-footer a:hover {
    color: var(--sl-color-text-accent);
  }
  hr {
    border: 0;
    border-top: 1px solid var(--sl-color-gray-5);
    margin-top: 2rem;
  }
</style>